<!DOCTYPE html>
<html>
<head>
	<title>BMI</title>
</head>
<body>
	<h2>BMI Calculator</h2>
	<form name="form1", method="POST">
		Please enter your name <input type="text" name="Name" size=30 value=""><br>
Type your weight in kg <input type="text" name="Mass" size=30 value=""><br>

		Type your height in metres<input type="text" name="Height" size=30 value=""><br>

		Click "Go" when you have typed your weight and height in the above <br>

		<input value="Go!" type ="submit" ><br>

	</form>
</body>
</html>
