{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card fluid">
                <div class="section"><h1>Instruction</h1></div>
                <div class="section">
                    <h3>1. Want to make an order?</h3>
                    <p>Click the 'CREATE ORDER' tab on the top</p>
                </div>
                <div class="section">
                        <h3>2. Want to check your order status?</h3>
                        <p>Click the 'INQUIRE ORDER' tab on the top</p>
                    </div>
            </div>
        </div>
        
    </div>
{% endblock %}